<!--Prototype Code for Lobby-->
<div class="container">
  <h3>RISK Game Lobbies</h3>
  <table class='table'>
    <tr>
      <th></th>
      <th>Game ID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>


    <!--For Hunter, how are we referencing the games? For now, I just left it as 'games' or 'game'. Once 'Join Game'
    is pressed, it will redirect to either the gameboard with the correct lobby ID or the lobby.-->
    <% _.each(games, function(games) { %>
    <tr data-id="<%= gameState.gameID %>" data-model="GamesController">
      <td><%= gameState.gameID %></td>
      <td><a href="/game/show/<%= gameState.gameID %>" class="btn btn-sm btn-primary">Join Game</a></td>
      <td><form action="/user/destroy/<%= gameState.gameID %>" method="POST">
        <input type="hidden" name="_method" value="delete"/>
        <input type="submit" class="btn btn-sm btn-danger" value="Delete Game"/>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      </form></td>
    </tr>
    <% }) %>
  </table>
</div>
